.content-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.container {
    margin: auto;
    max-width: 960px;
}

.table-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
}

.employee-container {
    margin: 0;
    padding: 0;
}

.employees-list {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin: 2px;
}

.employees-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.employee-details,
.employee-header,
.employee-info {
    display: flex;
}

.employee-header {
    gap: 100px;
    align-items: center;
    padding: 0 35px;
}

.employee-info {
    text-align: left;
    padding: 0 30px;
    gap: 110px;
}

.employees-data h3 {
    flex: 1;
    text-align: center;
}

.employee-details {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
}

.employees-data img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0 40px;
}

.expand-btn {
    display: none;
}

.info-title {
    display: none;
}

.table-header-container {
    display: block;
    background-color: #0500ff;
    color: #ffffff;
    height: 47px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin: 0;
}

.table-header {
    display: flex;
    height: 100%;
    align-items: center;
}

.table-header h2 {
    flex: 1;
    text-align: center;
    margin: 0;
}

@media (max-width: 768px) {
    .container {
        width: 335px;
        padding: 0 15px;
    }

    .content-header {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: 335px;
        padding: 0;
        margin: auto;
    }

    .content-header h1 {
        text-align: left;
    }

    .table-header {
        justify-content: flex-start;
    }

    .table-header h2 {
        text-align: left;
        width: 150px;
    }

    .employees-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .employees-data {
        flex-direction: column;
        align-items: flex-start;
    }

    .employee-header {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding: 0 15px;
    }

    .employees-data img {
        padding: 0;
    }

    .employee-info {
        display: none;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin: 0;
    }

    .employee-info.show {
        display: flex;
    }

    .info-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: static;
    }

    .info-title {
        display: flex;
        flex-basis: 40%;
        font-weight: bold;
        text-align: left;
    }

    .info-value {
        display: flex;
        flex-basis: 60%;
        text-align: right;
        padding-left: 10px;
    }

    .info-item::after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background: repeating-linear-gradient(
            to right,
            #000 0,
            #000 5px,
            transparent 5px,
            transparent 10px
        );
        margin: 0 10px;
    }

    .expand-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding-top: 10px;
        filter: invert(1);
    }

    .expand-btn img {
        width: 20px;
        height: 20px;
    }
}
